.card {
    &__content {
        padding: 20px 24px;
        border: 1px solid $dark-light;
        border-top: 0px;
    }

    &__title {
        font-size: 18px;
        line-height: 2;
        margin-bottom: 4px;
        letter-spacing: 1.08px;
    }

    &__category {
        line-height: 1.8;
        color: $dark-light;
        font-size: 16px;
    }
}