.footer {
    padding: 60px 0;
    background-color: $dark-800;

    @media(min-width:1200px) {
        padding: 64px 0 60px;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        @media(min-width:320px) {
            text-align: center;
            gap: 60px;
        }

        @media(min-width:768px) {
            justify-content: space-around;
        }

        @media(min-width:1200px) {
            gap: 0;
            text-align: left;
        }
    }

    &__info {
        max-width: 250px;
        width: 100%;

        @media(min-width:1200px) {
            margin-right: 51px;
        }
    }

    &__logo {
        display: inline-block;
        margin-bottom: 22px;
    }

    &__item:not(:last-child) {
        margin-bottom: 9px;
    }

    &__location {
        color: $light;
        margin-bottom: 9px;
    }

    &__link {
        color: $secondary;
        border-radius: 4px;
        transition: color 0.4s, outline 0.4s, outline 0.4s, opacity 0.4s;

        &:hover {
            color: $accent;
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }

        &:active {
            opacity: 0.6;
            color: $secondary;
        }
    }

    &__content {
        max-width: 206px;
        width: 100%;

        @media(min-width:1200px) {
            margin-right: 93px;
        }
    }

    &__text {
        display: inline-block;
        color: $light;
        text-transform: uppercase;
        margin-bottom: 19px;
        line-height: 1.2;
    }

    &__form {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        max-width: 450px;
        width: 100%;
        gap: 20px 12px;

        @media(min-width:1200px) {
            flex-direction: row;
            max-width: 570px;
        }
    }

    &__label {
        line-height: 1.2;
        color: $light;
        text-transform: uppercase;
        letter-spacing: 0.33px;
        max-width: 450px;
        width: 100%;
        margin: 0 auto;

        @media(min-width:1200px) {
            max-width: 358px;
        }
    }

    &__input {
        border: 1px solid $light-opacity-300;
        padding: 16px;
        border-radius: 4px;
        margin-top: 19px;
        background-color: $dark-800;
        color: $light;
        width: 100%;
        transition: outline 0.4s;

        &::placeholder {
            transition: color 0.4s;
            color: $light-opacity-600;
            font-size: 16px;
        }

        &:hover::placeholder {
            color: $accent;
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;

            &::placeholder {
                color: $accent;
            }
        }
    }

    &__button {
        display: flex;
        align-items: center;
        margin: 0 auto;
        gap: 20px;
        padding: 10px 28px 10px 39px;
    }
}