.footer {
    padding: 60px 0;
    text-align: center;
    background-color: $dark-800;

    @media (min-width: 1200px) {
        padding: 64px 0 60px;
        text-align: left;
    }

    &__inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 140px;
        row-gap: 60px;

        @media (min-width: 768px) {
            justify-content: space-around;
        }

        @media (min-width: 1200px) {
            flex-wrap: nowrap;
            justify-content: space-between;
            gap: 0;
        }
    }

    &__info {
        max-width: 250px;
        width: 100%;

        @media (min-width: 1200px) {
            margin-right: 51px;
        }
    }

    &__logo {
        margin: 0 auto 22px;
        width: 140px;
        height: 25px;

        @media (min-width: 1200px) {
            margin: initial;
            margin-bottom: 22px;
        }
    }

    &__location {
        color: $light;
        margin-bottom: 5px;

        @media (min-width:1200px) {
            margin-bottom: 9px;
        }
    }

    &__item {
        &:not(:last-child) {
            @media (min-width: 1200px) {
                margin-bottom: 9px;
            }
        }
    }

    &__link {
        display: block;
        color: $secondary;
        border-radius: 4px;
        padding: 5px;
        transition: color 0.4s, outline 0.4s, opacity 0.4s;

        @media (min-width: 1200px) {
            padding: 0;
        }

        &:hover {
            color: $accent;
        }

        &:focus {
            outline-offset: 4px;
            outline: 1px solid $accent;
        }

        &:active {
            opacity: 0.6;
            color: $secondary;
        }
    }

    &__content {
        max-width: 206px;
        width: 100%;

        @media (min-width: 1200px) {
            margin-right: 93px;
        }
    }

    &__text {
        display: inline-block;
        color: $light;
        text-transform: uppercase;
        margin-bottom: 19px;
        letter-spacing: 0.55px;
    }

    &__form-content {
        display: flex;
        flex-direction: column;
        gap: 20px 12px;

        @media (min-width: 1200px) {
            flex-direction: row;
        }
    }

    &__form {
        max-width: 450px;
        width: 100%;

        @media (min-width: 1200px) {
            max-width: 570px;
        }
    }

    &__label {
        display: block;
        width: 100%;

        @media (min-width: 1200px) {
            max-width: 358px;
        }
    }

    &__input {
        width: 100%;
        padding: 13px 16px;
        border-radius: 4px;
        color: $light;
        border: 1px solid $light-opacity-300;
        transition: outline 0.4s;

        &::placeholder {
            font-size: 16px;
            line-height: 1;
            transition: color 0.4s;
        }

        &:hover::placeholder {
            color: $accent;
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;

            &::placeholder {
                color: $accent;
            }
        }
    }

    &__button {
        display: flex;
        align-items: center;
        align-self: flex-start;
        margin: 0 auto;
        gap: 20px;
        padding: 10px 28px 10px 39px;

        @media (min-width: 1200px) {    
            align-self: flex-start;
        }
    }
}