.header {
    border-bottom: 1px solid $light-800;
    padding: 22px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__list {
        display: flex;
        gap: 44px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;

        line-height: 1.2;
        letter-spacing: 0.28px;
        color: $dark-light;

        border-radius: 4px;
        transition: color 0.4s, outline 0.4s, outline-offset 0.4s, opacity 0.4s;

        &:hover {
            color: $accent;

            .icon {
                fill: $accent;
            }
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }

        &:active {
            opacity: 0.7;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 89px;

    &__list {
        display: flex;
        gap: 50px;
    }

    &__link {
        font-size: 16px;
        line-height: 1.1;
        padding: 20px 0;
        position: relative;

        border-radius: 4px;
        transition: color 0.4s, outline 0.4s, outline-offset 0.4s, opacity 0.4s;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: transparent;
            border-radius: 2px;
            bottom: -9px;

            transition: background-color 0.4s;
        }

        &.current {
            color: $accent;

            &::before {
                background-color: $accent;
            }

            &:active {
                color: $accent-opacity-700;

                &::before {
                    background-color: $accent-opacity-700;
                }
            }
        }

        &:hover {
            color: $accent;

            &::before {
                background-color: $accent;
            }
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }

        &:active {
            //Загалом змінюється тільки прозорість елемента, але коли ми будемо на місці користувача, то ми спочатку наведемо, а після того натиснемо і триматимемо курсор миші. В результаті вийде не по стайлгайду. Тож приходиться дописувати колір та приховувати підкреслення
            color: $dark-opacity-500;

            &::before {
                background-color: transparent;
            }
        }
    }
}