.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: $dark-opacity-300;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.5s;
    padding: 90px 0;

    &.is-hidden {
        pointer-events: none;
        opacity: 0;

        .modal {
            transform: scale(0);
        }
    }

    @media (orientation: landscape) {
        padding: 40px 0;
        align-items: flex-start;
        overflow-y: scroll;
    }

    @media (min-width: 1024px) {
        padding: 0;
        align-items: center;
    }
}

.modal {
    width: 100%;
    max-width: 528px;
    background-color: $light;
    box-shadow: 8px 8px 3px $dark-opacity-120;
    transform: scale(1);
    position: relative;
    margin: 0 15px;
    border-radius: 6px;
    transition: transform 0.5s;

    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $dark;
        right: 8px;
        top: 8px;
        width: 44px;
        height: 44px;
        position: absolute;
        border-radius: 50%;
        outline: 1px solid $dark-opacity-100;
        transition: color 0.4s, outline-color 0.4s, box-shadow 0.4s;

        &:hover {
            color: $accent;
        }

        &:focus {
            outline-color: $accent;
        }

        &:active {
            box-shadow: inset 3px 3px 3px $dark-opacity-120;
            color: $accent;
        }
    }
}