.socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: auto;
    gap: 10px;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: $light;
        border-radius: 50%;
    }

    &__link--dark {
        background-color: $light-100;

        .icon {
            fill: $light;
        }
    }
}