.social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: auto;
    gap: 10px;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: $light;
        border-radius: 50%;

        transition: background-color 0.4s, outline-offset 0.4s, box-shadow 0.4s;

        &--dark {
            background-color: $light-100;

            .icon {
                fill: $light;
            }
        }

        &:hover {
            background-color: $accent;

            .icon--light {
                fill: $light;
            }
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }

        &:active {
            box-shadow: 4px 4px 4px $dark-opacity-250 inset;
            background-color: $accent;

            .icon--light {
                fill: $light;
            }
        }
    }
}