$accent: #EC3C05;
$secondary: #F29040;

$dark: #000;
$dark-800: #070303;
$dark-opacity: rgba($dark, 0.6);
$dark-500: #212121;
$dark-400: rgba(47, 48, 58, 0.60);
$dark-opacity-300: rgba($dark, 0.30);
$dark-light: #757575;


$light: #fff;
$light-800: #ECECEC;
$light-600: #F5F4FA;
$light-100: rgba(255, 255, 255, 0.10);