@import "vars";
@import "reset";
@import "global";

@import "global/header";
@import "global/footer";
@import "global/title";
// Така приблизно це все працює? Ми бачимо, що код на сторінці повторюється і відповідно створюємо для них окремий файл

// homepage

.homepage {
    background-color: $homepage-bg;

    &__inner {
        height: calc(100vh - 80px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        max-width: 696px;
        width: 100%;
        margin: 0 auto;
    }

    &__title {
        font-size: 44px;
        color: $background;
        text-transform: uppercase;
        line-height: 1.3;
        letter-spacing: 2.64px;
        margin-bottom: 30px;
        font-weight: 700;
    }
}

// about

.about {
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 9px;
    }

    &__item {
        max-width: 270px;
        width: 100%;
    }

    &__text {
        color: $content;
    }
}

// services

.services {
    padding-top: 0px;

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        position: relative;
    }

    &__title {
        font-size: 16px;
        text-transform: uppercase;
        color: $background;
        line-height: 1.1;

        position: absolute;
        bottom: 0;

        padding: 25px 10px;
        width: 100%;
        text-align: center;
        background-color: $services-bg;
    }
}

// team

.team {
    background-color: $team-bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        max-width: 270px;
        width: 100%;
        background-color: $background;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.30);
        border-radius: 0px 0px 4px 4px;
        text-align: center;
    }

    &__column {
        font-size: 16px;
        line-height: 1.1;
        padding: 30px 15px;
    }

    &__username {
        margin-bottom: 10px;
    }

    &__description {
        font-family: "Roboto", sans-serif;
        color: $content;
    }
}