<ul class="social">
    <!-- Зробив тільки для футера. Тому що доступність не потрібно міняти, порівнюючи з team-card -->
    <li class="social__item">
        <a class="social__link social__link--dark" href="#" target="_blank" rel="noopener noreferrer">
            <svg class="icon" width="20" height="20">
                <use href="./images/sprite.svg#instagram"></use>
            </svg>
            <span class="visually-hidden">
                go to the Instagram of DolGuldur company
            </span>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link social__link--dark" href="#" target="_blank" rel="noopener noreferrer">
            <svg class="icon" width="20" height="20">
                <use href="./images/sprite.svg#twitter"></use>
            </svg>
            <span class="visually-hidden">
                go to the Twitter of DolGuldur company
            </span>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link social__link--dark" href="#" target="_blank" rel="noopener noreferrer">
            <svg class="icon" width="20" height="20">
                <use href="./images/sprite.svg#facebook"></use>
            </svg>
            <span class="visually-hidden">
                go to the Facebook of DolGuldur company
            </span>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link social__link--dark" href="#" target="_blank" rel="noopener noreferrer">
            <svg class="icon" width="20" height="20">
                <use href="./images/sprite.svg#linkedin"></use>
            </svg>
            <span class="visually-hidden">
                go to the Linkedin of DolGuldur company
            </span>
        </a>
    </li>
</ul>