.hero {
    background-color: $dark;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 0;

    @media(min-width:480px) {//Якщо перша картинка в слайдері трохи не збігається з макетом, це може вважатися помилкою ?
        padding: 118px 0;
    }

    @media(min-width:1200px) {
        padding: 203px 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $dark-400;
        z-index: 2;
    }

    &__slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__slider-item {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .slick-list {
        height: 100%;
        overflow: hidden;
    }

    .slick-track {
        height: 100%;
        display: flex;
    }

    .slick-slide div {
        height: 100%;
    }

    &__content {
        max-width: 696px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 3;
    }

    &__title {
        color: $light;
        text-transform: uppercase;
        letter-spacing: 2.64px;
        display: block;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 38px;
        line-height: 1.6;

        @media(min-width:768px) {
            margin-bottom: 35px;
        }

        @media(min-width:1200px) {
            line-height: 1.3;
            margin-bottom: 30px;
            font-size: 44px;
        }
    }
}