.partners {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__item {
        width: 100%;

        @media (min-width: 480px) {
            max-width: 210px;
        }

        @media (min-width: 768px) {
            max-width: 226px;
        }

        @media (min-width: 1200px) {
            max-width: 170px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%; 
        // Я написав замість фіксованої ширини, яка була на цьому елементі гнучку ширину, яка буде дивиться, яка ширина буде у батька ,і буде підлаштовуватися під неї
        height: 92px;
        border: 1px solid $dark-light;
        color: $dark-light;
        border-radius: 4px;
        transition: border-color 0.4s, color 0.4s, outline 0.4s, opacity 0.4s;

        &:hover {
            border-color: $accent;
            color: $accent;
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }

        &:active {
            opacity: 0.7;
        }
    }
}