.team {
    background-color: $light-600;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__item {
        width: 100%;

        @media (min-width:480px) {
            max-width: 450px;
        }

        @media(min-width:768px) {
            max-width: 354px;
        }

        @media(min-width:1200px) {
            max-width: 270px;
        }
    }
}

@import "team-card";