.works {
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__list {
        margin-bottom: 40px;

        @media (min-width: 480px) {
            margin: 0 auto 40px;
            flex-grow: 1;
            gap: 15px 10px;
            display: flex;
            flex-wrap: wrap;
        }

        @media (min-width: 768px) {
            margin-bottom: 30px;
        }

        @media(min-width:1200px) {
            margin-bottom: 50px;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 10px;

        @media (min-width: 480px) {
            margin-bottom: 0;
        }
    }

    &__button {
        //  При ширині екрану 480 залишити клікабельну зону таку, яка зображена на макеті?
        width: 100%;
        letter-spacing: 0.48px;
        padding: 14px 0;
        font-size: 16px;
        background-color: $light-600;
        border-radius: 4px;
        line-height: 1;
        transition: color 0.4s, background-color 0.4s, box-shadow 0.4s, outline 0.4s;

        &:hover,
        &.mixitup-control-active {
            color: $light;
            background-color: $accent;
        }

        &:hover {
            box-shadow: 3px 3px 8px $dark-opacity-400;
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }

        &:active {
            color: $light;
            background-color: $accent;
            box-shadow: inset 3px 3px 8px $dark-opacity-400;
        }

        @media (min-width: 480px) {
            padding: 11px 26px;
            max-width: 100%;
        }
    }

    &__card-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__card-item {
        width: 100%;

        @media (min-width: 480px) {
            max-width: 450px;
        }

        @media (min-width: 768px) {
            max-width: 355px;
        }

        @media (min-width: 1200px) {
            max-width: 370px;
        }
    }
}

@import "work-card";