.works {
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__list {
        margin: 0 auto 40px;
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 15px 10px;

        @media(min-width:1200px) {
            margin-bottom: 50px;
        }
    }

    &__button {
        letter-spacing: 0.48px;
        padding: 11px 26px;
        font-size: 16px;
        background-color: $light-600;
        border-radius: 4px;
        line-height: 1;
        transition: color 0.4s, background-color 0.4s, box-shadow 0.4s, outline 0.4s;

        &:hover,
        &.mixitup-control-active {
            color: $light;
            background-color: $accent;
        }

        &:hover {
            box-shadow: 3px 3px 8px $dark-opacity-400;
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }

        &:active {
            color: $light;
            background-color: $accent;
            box-shadow: inset 3px 3px 8px $dark-opacity-400;
        }
    }

    &__card-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__card-item {
        width: 100%;

        @media(min-width:768px) {
            width: 47%;
        }

        @media(min-width:1200px) {
            width: initial;
        }
    }
}

@import "work-card";