.works {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-bottom: 50px;
    }

    &__button {
        letter-spacing: 0.48px;
        padding: 11px 26px;
        font-size: 16px;
        background-color: $light-600;
        border-radius: 4px;
        line-height: 1;
        transition: background-color 0.4s, color 0.4s, outline 0.4s, outline-offset 0.4s, box-shadow 0.4s;

        &:hover,
        &.mixitup-control-active {
            background-color: $accent;
            color: $light;
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }

        &:active {
            color: $light;
            background-color: $accent;
            box-shadow: inset 3px 3px 8px $dark-opacity-400;
        }
    }

    &__card-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
}