.works {
    &__list {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 50px;
    }

    &__button {
        letter-spacing: 0.48px;
        padding: 11px 26px;
        font-size: 16px;
        background-color: $light-600;
        border-radius: 4px;
        line-height: 1;

        &.mixitup-control-active {
            background-color: $accent;
            color: $light;
        }
    }

    &__card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__card-item {
        max-width: 370px;
        width: 100%;
    }
}