<label class="checkbox form__checkbox">
    <!-- Створив мікс класів, тому що в мене checkbox є блоком по BEM, тож він буде на сайті десь перевикористовуватися. Тож марджин, який я задав на label буде мішати в якомусь іншому місці на сайті. Тож я створюю іминно локальний клас, бо як ти вчив, що якщо нам потрібно змінити зовнішню поведінку елемента , то тільки через локальний клас  -->
    <input class="checkbox__input visually-hidden" type="checkbox" name="subscription" required>
    <span class="checkbox__box">
        <svg class="icon" width="10" height="8">
            <use href="./images/sprite.svg#checked"></use>
        </svg>
    </span>
    <p class="checkbox__subscription">
        <!-- Можна була обійтися без обгортки, але коли тексту стає більше, то тоді це не як не підтримаєш -->
        I agree to the subscription and accept the <a class="checkbox__link" href="#" target="_blank">Terms of use</a>
    </p>
</label>