<picture>
    <source srcset="./images/team/@@imgName.webp 1x, ./images/team/@@imgName-2x.webp 2x" type="image/webp" media="(min-width:1200px)">
    <source srcset="./images/team/@@imgName.jpg 1x, ./images/team/@@imgName-2x.jpg 2x" media="(min-width:1200px)">
    <source srcset="./images/team/@@imgName-tab.webp 1x, ./images/team/@@imgName-tab-2x.webp 2x" type="image/webp" media="(min-width:768px)">
    <source srcset="./images/team/@@imgName-tab.jpg 1x, ./images/team/@@imgName-tab-2x.jpg 2x" media="(min-width:768px)">
    <source srcset="./images/team/@@imgName-mob.webp 1x, ./images/team/@@imgName-mob-2x.webp 2x" type="image/webp" media="(min-width:320px)">
    <source srcset="./images/team/@@imgName-mob.jpg 1x, ./images/team/@@imgName-mob-2x.jpg 2x" media="(min-width:320px)">
    <img class="team-card__picture" src="./images/team/@@imgName.jpg" alt="@@altName" width="450" height="460">
</picture>