<picture>
    <source srcset="./images/@@srcName/@@imgName.webp 1x, ./images/@@srcName/@@imgName-2x.webp 2x" type="image/webp" media="(min-width:1200px)">
    <source srcset="./images/@@srcName/@@imgName.jpg 1x, ./images/@@srcName/@@imgName-2x.jpg 2x" media="(min-width:1200px)">
    <source srcset="./images/@@srcName/@@imgName-tab.webp 1x, ./images/@@srcName/@@imgName-tab-2x.webp 2x" type="image/webp" media="(min-width:768px)">
    <source srcset="./images/@@srcName/@@imgName-tab.jpg 1x, ./images/@@srcName/@@imgName-tab-2x.jpg 2x" media="(min-width:768px)">
    <source srcset="./images/@@srcName/@@imgName-mob.webp 1x, ./images/@@srcName/@@imgName-mob-2x.webp 2x" type="image/webp" media="(min-width:320px)">
    <source srcset="./images/@@srcName/@@imgName-mob.jpg 1x, ./images/@@srcName/@@imgName-mob-2x.jpg 2x" media="(min-width:320px)">
    <img class="@@className__picture" src="./images/@@srcName/@@imgName.jpg" alt="@@altName" width="@@width" height="@@height">
</picture>