<header class="header">
    <div class="container header__container">
        <nav class="menu">
            <a class="logo" href="index.html">
                <img class="logo__img" width="189" height="36" src="./images/logo-header.svg" alt="logo DolGuldur">
            </a>
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link @@currentHome" href="index.html">
                        Home
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link @@currentWorks" href="works.html">
                        Our Works
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        Contacts
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="header__list">
            <li class="header__item">
                <a class="header__link" href="mailto:info@dolguldur.com">
                    <svg class="icon" width="16" height="12">
                        <use href="./images/sprite.svg#e-mail"></use>
                    </svg>
                    info@dolguldur.com
                </a>
            </li>
            <li class="header__item">
                <a class="header__link" href="tel:+380961111111">
                    <svg class="icon" width="10" height="16">
                        <use href="./images/sprite.svg#phone"></use>
                    </svg>
                    +38 096 111 11 11
                </a>
            </li>
        </ul>
    </div>
</header>