<header class="header" data-header>
    <div class="container header__container">
        <nav class="menu">
            <a class="logo" href="index.html">
                <img class="logo__img" width="189" height="36" src="./images/logo-header.svg" alt="logo DolGuldur">
            </a>
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link @@currentIndex" href="index.html">
                        Home
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link @@currentWorks" href="works.html">
                        Our Works
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        Contacts
                    </a>
                </li>
            </ul>
            <button class="mobile-button" type="button" data-menu-button>
                <span class="visually-hidden">
                    open/close the mobile menu
                </span>
                <span class="mobile-button__line">
                </span>
            </button>
            <div class="mobile-menu" data-menu>
                <ul class="mobile-menu__list">
                    <li class="mobile-menu__item">
                        <a class="mobile-menu__link @@currentIndex" href="index.html">
                            Home
                        </a>
                    </li>
                    <li class="mobile-menu__item">
                        <a class="mobile-menu__link @@currentWorks" href="works.html">
                            Our Works
                        </a>
                    </li>
                    <li class="mobile-menu__item">
                        <a class="mobile-menu__link" href="#">
                            Contacts
                        </a>
                    </li>
                </ul>
                <!-- Тут обгортка була потрібрна для того, щоб space-between не робив простір між списками з контактами та соціальними мережами -->
                <ul class="mobile-menu__contact">
                    <li class="mobile-menu__contact-item">
                        <a class="mobile-menu__contact-link" href="tel:+380961111111">
                            +38 096 111 11 11
                        </a>
                    </li>
                    <li class="mobile-menu__contact-item">
                        <a class="mobile-menu__contact-link" href="mailto:info@dolguldur.com">
                            info@dolguldur.com
                        </a>
                    </li>
                </ul>
                <ul class="mobile-social">
                    <li class="mobile-social__item">
                        <a class="mobile-social__link" href="#">
                            Instagram
                        </a>
                    </li>
                    <li class="mobile-social__item">
                        <a class="mobile-social__link" href="#">
                            Twitter
                        </a>
                    </li>
                    <li class="mobile-social__item">
                        <a class="mobile-social__link" href="#">
                            Facebook
                        </a>
                    </li>
                    <li class="mobile-social__item">
                        <a class="mobile-social__link" href="#">
                            LinkedIn
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="header__list">
            <li class="header__item">
                <a class="header__link" href="mailto:info@dolguldur.com">
                    <svg class="icon" width="16" height="12">
                        <use href="./images/sprite.svg#e-mail"></use>
                    </svg>
                    info@dolguldur.com
                </a>
            </li>
            <li class="header__item">
                <a class="header__link" href="tel:+380961111111">
                    <svg class="icon" width="10" height="16">
                        <use href="./images/sprite.svg#phone"></use>
                    </svg>
                    +38 096 111 11 11
                </a>
            </li>
        </ul>
    </div>
</header>