<div class="mobile-menu" data-menu>
    <nav class="mobile-menu__navigation">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="index.html">
                    Home
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="works.html">
                    Our Works
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="#">
                    Contacts
                </a>
            </li>
        </ul>
    </nav>
    <div class="mobile-menu__inner">
        <ul class="mobile-menu__contact">
            <li class="mobile-menu__contact-item">
                <a class="mobile-menu__contact-link" href="tel:+380961111111">
                    +38 096 111 11 11
                </a>
            </li>
            <li class="mobile-menu__contact-item">
                <a class="mobile-menu__contact-link" href="mailto:info@dolguldur.com">
                    info@dolguldur.com
                </a>
            </li>
        </ul>
        <ul class="mobile-social">
            <li class="mobile-social__item">
                <a class="mobile-social__link" href="#">
                    Instagram
                </a>
            </li>
            <li class="mobile-social__item">
                <a class="mobile-social__link" href="#">
                    Twitter
                </a>
            </li>
            <li class="mobile-social__item">
                <a class="mobile-social__link" href="#">
                    Facebook
                </a>
            </li>
            <li class="mobile-social__item">
                <a class="mobile-social__link" href="#">
                    LinkedIn
                </a>
            </li>
        </ul>
    </div>
    <button class="mobile-menu__close" data-menu-button>
        <svg class="icon" width="22" height="22">
            <use href="./images/sprite.svg#mobile-close"></use>
        </svg>
        <span class="visually-hidden">
            close the mobile menu
        </span>
    </button>
</div>