<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <form class="form">
            <h3 class="form__title">
                Tell about yourself and we will contact you
            </h3>
            <label class="form__label" for="name">
                Name
                <input class="form__input" type="text" name="name" id="name" required>
                <svg class="icon form__icon" width="12" height="12">
                    <use href="./images/sprite.svg#user"></use>
                </svg>
            </label>
            <label class="form__label" for="phone">
                Phone
                <input class="form__input" type="tel" name="number" id="phone" required>
                <svg class="icon form__icon" width="13" height="13">
                    <use href="./images/sprite.svg#telephone"></use>
                </svg>
            </label>
            <label class="form__label" for="email">
                E-mail
                <input class="form__input" type="email" name="e-mail" id="email" required>
                <svg class="icon form__icon" width="15" height="12">
                    <use href="./images/sprite.svg#email"></use>
                </svg>
            </label>
            <label class="form__label form__label-textarea" for="message">
                Message
                <textarea class="form__input form__input--big" name="message" id="message" placeholder="Your message..."
                    required></textarea>
            </label>
            <label class="form__label-checkbox" for="subscription">
                <input class="form__checkbox" type="checkbox" name="subscription" id="subscription" required>
                <span class="form__checkbox-fake">
                    <svg class="icon" width="10" height="8">
                        <use href="./images/sprite.svg#checked"></use>
                    </svg>
                </span>
                <p class="form__checkbox-subscription">
                    I agree to the subscription and accept the <a class="form__subscription-link" href="#"
                        target="_blank">Terms
                        of use</a>
                </p>
            </label>
            <button class="button form__button" type="submit">
                Submit
            </button>
        </form>
        <button class="modal__close" type="button" data-modal-close>
            <svg class="icon" width="16" height="16">
                <use href="./images/sprite.svg#modal-close"></use>
            </svg>
            <span class="visually-hidden">
                close modal
            </span>
        </button>
    </div>
</div>