<section class="works section">
    <div class="container">
        <ul class="works__list">
            <li class="works__item">
                <button class="works__button" type="button" data-filter="all">
                    All
                </button>
            </li>
            <li class="works__item">
                <button class="works__button" type="button" data-filter=".category-webSite">
                    Web-sites
                </button>
            </li>
            <li class="works__item">
                <button class="works__button" type="button" data-filter=".category-apps">
                    Apps
                </button>
            </li>
            <li class="works__item">
                <button class="works__button" type="button" data-filter=".category-desing">
                    Designes
                </button>
            </li>
            <li class="works__item">
                <button class="works__button" type="button" data-filter=".category-brands">
                    Brands
                </button>
            </li>
        </ul>
        <ul class="works__card-list">
            <li class="works__card-item mix category-webSite">
                <article class="work-card">
                    <div class="work-card__inner">
                        @@include('cardWorkPhoto.html', {
                        imgName:'website-sofa',
                        altName:'on the table are user devices and a laptop with a website about the world of sofas',
                        })
                        <p class="work-card__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco consequat.
                        </p>
                    </div>
                    <div class="work-card__content">
                        <h2 class="work-card__title">
                            Sofa World
                        </h2>
                        <span class="work-card__category">
                            Web-site
                        </span>
                    </div>
                </article>
            </li>
            <li class="works__card-item mix category-brands">
                <article class="work-card">
                    <div class="work-card__inner">
                        @@include('cardWorkPhoto.html', {
                        imgName:'cardboard-cup',
                        altName:'a cardboard cup with a picture of Moby Dick coffee on it',
                        })
                        <p class="work-card__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                        </p>
                    </div>
                    <div class="work-card__content">
                        <h2 class="work-card__title">
                            Moby Dick Caffe
                        </h2>
                        <span class="work-card__category">
                            Brand
                        </span>
                    </div>
                </article>
            </li>
            <li class="works__card-item mix category-apps">
                <article class="work-card">
                    <div class="work-card__inner">
                        @@include('cardWorkPhoto.html', {
                        imgName:'tesla',
                        altName:'tesla logo on a red background',
                        })
                        <p class="work-card__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco consequat.
                        </p>
                    </div>
                    <div class="work-card__content">
                        <h2 class="work-card__title">
                            Tesla charger-map
                        </h2>
                        <span class="work-card__category">
                            App
                        </span>
                    </div>
                </article>
            </li>
            <li class="works__card-item mix category-desing">
                <article class="work-card">
                    <div class="work-card__inner">
                        @@include('cardWorkPhoto.html', {
                        imgName:'woman',
                        altName:'a woman sitting on a pier near the water',
                        })
                        <p class="work-card__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                        </p>
                    </div>
                    <div class="work-card__content">
                        <h2 class="work-card__title">
                            Bronze Sky
                        </h2>
                        <span class="work-card__category">
                            Design
                        </span>
                    </div>
                </article>
            </li>
            <li class="works__card-item mix category-desing">
                <article class="work-card">
                    <div class="work-card__inner">
                        @@include('cardWorkPhoto.html', {
                        imgName:'magazine',
                        altName:'A magazine called Cereal Travel with a camera next to it',
                        })
                        <p class="work-card__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        </p>
                    </div>
                    <div class="work-card__content">
                        <h2 class="work-card__title">
                            Cereal Travel Magazine
                        </h2>
                        <span class="work-card__category">
                            Design
                        </span>
                    </div>
                </article>
            </li>
            <li class="works__card-item mix category-apps">
                <article class="work-card">
                    <div class="work-card__inner">
                        @@include('cardWorkPhoto.html', {
                        imgName:'website-picHub',
                        altName:'the user is holding a phone with the stock photo bank application on it',
                        })
                        <p class="work-card__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco consequat.
                        </p>
                    </div>
                    <div class="work-card__content">
                        <h2 class="work-card__title">
                            Photonium
                        </h2>
                        <span class="work-card__category">
                            App
                        </span>
                    </div>
                </article>
            </li>
            <li class="works__card-item mix category-brands">
                <article class="work-card">
                    <div class="work-card__inner">
                        @@include('cardWorkPhoto.html', {
                        imgName:'keep-exploring',
                        altName:'a woman shows a motivational flag while on a mountain',
                        })
                        <p class="work-card__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco consequat.
                        </p>
                    </div>
                    <div class="work-card__content">
                        <h2 class="work-card__title">
                            Keep Exploring
                        </h2>
                        <span class="work-card__category">
                            Brand
                        </span>
                    </div>
                </article>
            </li>
            <li class="works__card-item mix category-desing">
                <article class="work-card">
                    <div class="work-card__inner">
                        @@include('cardWorkPhoto.html', {
                        imgName:'museum',
                        altName:'The Natural History Museum, located in London',
                        })
                        <p class="work-card__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore
                        </p>
                    </div>
                    <div class="work-card__content">
                        <h2 class="work-card__title">
                            Architectural conceptual projects
                        </h2>
                        <span class="work-card__category">
                            Design
                        </span>
                    </div>
                </article>
            </li>
            <li class="works__card-item mix category-webSite">
                <article class="work-card">
                    <div class="work-card__inner">
                        @@include('cardWorkPhoto.html', {
                        imgName:'website-interior',
                        altName:'a laptop with an interior design website',
                        })
                        <p class="work-card__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        </p>
                    </div>
                    <div class="work-card__content">
                        <h2 class="work-card__title">
                            Le Buzz food service
                        </h2>
                        <span class="work-card__category">
                            Web-site
                        </span>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>