.partners {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 28px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
        border: 1px solid $dark-light;
        border-radius: 4px;
    }
}