<header class="header">
    <div class="container header__container">
        <nav class="menu">
            @@include('../global/small-components/logo.html',{
            "width":"189",
            "height":"36",
            "logo":"logo-header"
            })
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link @@currentIndex" href="@@pageWorks.html">
                        Home
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link @@currentWorks" href="@@pageIndex.html">
                        Our Works
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        Contacts
                    </a>
                </li>
            </ul>
        </nav>
        @@include('address.html')
    </div>
</header>